<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="icon" href="../public/computer-icons.png" type="image/x-icon">
        <title>URL Shortener</title>
        <link rel="stylesheet" href="../home.css">
    </head>

    <body class="bg-blue-400">
        <h1 class="text-center mt-8 text-4xl font-semibold">URL Shortener</h1>
        <div class="text-xl m-auto w-2/6 my-12 rounded-xl text-center ">
            <form action='/' method="post" class="space-x-5">
                <label for="urlLink">Your URL =></label>
                <input type="url" class="px-5 py-0.5 rounded-lg" name="urlLink" placeholder="Enter Your URL">
                <button class="px-4 py-1 bg-white rounded-md border border-black" type="submit">
                    Generate
                </button>
            </form>
        </div>
        <% if (data.length===0) {%>
            <p>
                No Record Found
            </p>
            <%} else { data.forEach(item=>{ %>
                <div class="text-lg bg-white rounded-xl py-1 my-2 px-16 mx-10 flex border justify-between border-black">
                    <div class="flex">
                        <h1 class="font-bold">Original Url : </h1>
                        <p>
                            <%= item.full %>
                        </p>
                    </div>
                    <div class="flex">
                        <h1 class="font-bold">
                            Shorten Url :
                        </h1>
                        <p>
                            <%= item.short %>
                        </p>
                    </div>
                    <div>
                        <h1 class="font-bold">
                            Clicks :
                        </h1>
                        <p>
                            <%= item.clicks %>
                        </p>
                    </div>
                </div>
                <% }) } %>

    </body>

</html>