<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URL Shortener</title>
    </head>

    <body>
        <center>
            <h1>URL Shortener</h1>
        </center>
        <form method="post">
            <label for="urlLink">URL</label>
            <input type="url" name="urlLink" placeholder="Enter Your URL">
            <button type="submit">
                Generate
            </button>
        </form>
    </body>

</html>