<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>

    </head>

    <body>
        <center>
            <form method="post">
                <div>
                    <label for="nam">Username</label>
                    <input type="text" name="nam" placeholder="Your Name">
                </div>
                <div>
                    <label for="pass">Password</label>
                    <input type="password" name="pass">
                </div>
                <button type="submit">Submit</button>
            </form>
            <div>
                New User?<a href="./signup.ejs">Create Account</a>
            </div>

        </center>
    </body>

</html>